<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
  <!-- ブレットクラム-->
  <div>
    <a href="{% url 'books:book-list' %}">書籍リスト</a> |  書籍{{ submit_value }}
  </div>
  <!-- タイトル -->
  <h1>書籍の{{ submit_value }}</h1>
  <!-- フォーム -->
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.as_p }}
    <input type="submit" name="{{ submit_name }}" value="{{ submit_value }}">
  </form>
</body>
</html>