<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
  <!-- ブレットクラム -->
  <div>書籍リスト</div>
  <!-- タイトル-->
  <h1>書籍の一覧</h1>
  <!-- 書籍リストテーブル -->
  <table border="1">
    <thead>
      <tr>
        <th>書籍名</th>
        <th>出版社</th>
        <th>ISBN</th>
        <th>発売日</th>
        <th>税抜き価格</th>
        <th>部署</th>
        <th />
        <th />
      </tr>
    </thead>
    <tbody>
      {% for book in object_list %}
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.publisher }}</td>
        <td>{{ book.isbn }}</td>
        <td>{{ book.published_at }}</td>
        <td>{{ book.price }}</td>
        <td>{{ book.department }}</td>
        <td><a href="{% url 'books:book-detail' book.id %}">詳細</a></td>
        <td><a href="{% url 'books:book-delete' book.id %}">削除</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'books:book-create' %}">登録</a>
</body>
</html>