<html lang="ja">
<head>
  <meta charset="utf-8">
</head>
<body>
  <!-- ブレットクラム-->
  <div>
    <a href="{% url 'books:book-list' %}">書籍リスト</a> |  書籍削除
  </div>
  <!-- タイトル -->
  <h1>書籍の削除</h1>
  <!-- 書籍の属性 -->
  <p><label>書籍名:</label> {{ object.name }}</p>
  <p><label>出版社:</label> {{ object.publisher }}</p>
  <p><label>ISBN:</label> {{ object.isbn }}</p>
  <p><label>発売日:</label> {{ object.published_at }}</p>
  <p><label>税抜き価格:</label> {{ object.price }}</p>
  <p><label>部署:</label> {{ object.department }}</p>
  <p><label>登録日時:</label> {{ object.registered_at }}</p>
  <p><label>更新日時:</label> {{ object.updated_at }}</p>
  <form method="post">
    {% csrf_token %}
    <p>この書籍を削除しますか?</p>
    <input type="submit" value="削除">
  </form>
</body>
</html>